/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


@tailwind base;
@tailwind components;
@tailwind utilities;

.adminInput{
  @apply p-2 rounded bg-[#1e293b] border border-gray-700 text-white;
}

.adminBtn{
  @apply bg-red-600 hover:bg-red-700 px-4 py-2 rounded font-semibold;
}

.adminBtnDelete{
  @apply bg-red-500 hover:bg-red-600 px-3 py-1 rounded text-sm;
}

/* Theatre Card */

.theatreCard{
  @apply bg-gradient-to-br from-[#0f172a] to-[#020617]
  p-4 rounded-xl shadow-lg h-[170px] flex flex-col;
}

/* Snack Scroll */

.snackScroll{
  @apply flex-1 overflow-y-auto space-y-3 pr-2;
}

/* Snack Row */

.snackRow{
  @apply flex justify-between items-center border-b border-gray-800 pb-2;
}

/* Dropdown */

.dropdownMenu{
  @apply absolute w-full bg-[#1e293b] border border-gray-700
  rounded mt-1 max-h-32 overflow-y-auto z-50;
}

.dropdownItem{
  @apply p-2 hover:bg-red-600 cursor-pointer;
}

/* Scrollbar */

::-webkit-scrollbar{
  width:5px;
}

::-webkit-scrollbar-thumb{
  background:#ef4444;
  border-radius:10px;
}
